/* .title {
  flex-grow: 1;
}

.num{
  padding-top: 64px;
}



.buttonTheme{
  margin-left: 30px;
}



.darkBackground {
  background-color: #333; 
}

.light-theme {
  background-color: #fff; /* Установите желаемый цвет фона для светлой темы */
/* }

.dark-theme {
  background-color: #000;
} */ 



