.auth-form {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-form__input {
  margin-bottom: 1rem; 
}

.auth-form__form{
  max-width: 360px;
}

form {
  background: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
}

