.review-card{
  background-color: red;
}

.review-card-header{
  background-color: aqua;
}

.card-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
}

.review-card {
  flex: 0 0 calc(33.3333% - 16px); 
  margin-right: 16px; 
  margin-bottom: 16px; 
}

.card{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
}